body {
  font-family: arial;
  background: #212c4f;
  color: #ffffff;
}

.App {
  text-align: center;
  padding: 10vh 20vw;
}

button {
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  color: #212c4f;
  font-size: 14px;
  margin: 10px 0 10px 0;
  padding: 10px 30px;
  border: none;
  border-radius: 2px;
}
